{% extends "base.html" %}
{% block title %}Dashboard Doctor{% endblock %}

{% block content %}

<div class="content-wrapper" style="padding: 20px 30px 20px 20px !important;">

    <h1 class="mb-4">Panel del Doctor</h1>
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm" style="border-left: 6px solid #17a2b8;">
                <div class="card-body">
                    <h4 class="mb-2 text-info">Mis Pacientes</h4>
                    <p>Pacientes atendidos por usted.</p>
                    <a href="/doctor/pacientes/" class="btn btn-info btn-sm">Ver Pacientes</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm" style="border-left: 6px solid #dc3545;">
                <div class="card-body">
                    <h4 class="mb-2 text-danger">Mis Atenciones</h4>
                    <p>Historial de atenciones realizadas.</p>
                    <a href="/doctor/atenciones/" class="btn btn-danger btn-sm">Ver Atenciones</a>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}

